{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="/static/photography.css">
{% endblock %} 
{% block content %}
<div class="overview">
    <div class="cropped-image">
        <picture>
            <source srcet="/media/test.webp" type="image/webp">-->
            <img src="/media/Photography_header.jpg" alt="Ontario lakes are gorgeous!" photographer="Samantha Knoop">
        </picture>
    </div>

    <div class="container" id="albums">
        <div class="columns">
            <div class="column col-3">
                <div class="card">
                    <div class="card-image">
                        <img src="/media/{{random_Image.image_data}}-Low.jpg" class="img-responsive" />
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">All Images</div>
                    </div>
                    <div class="card-footer">
                        <a href="album/All/" class="btn btn-primary"><i>Load Album</i></a>
                    </div>
                </div>
            </div>
        {% for album in Albums %}  
            {% if forloop.counter|divisibleby:"4" %}
                </div>
                <div class="columns">
            {% endif %}
                <div class="column col-3">
                    {% include "album_card.html" %} 
                </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %} 
