.cropped-image{
  height: 200px;
  min-width: 100%;
  background-position:center center;
  background-repeat: no-repeat;
  overflow: hidden;
  /*background-image: url('/media/Photography_header.jpg');*/
}

.cropped-image img {
  min-height: 100%;
  min-width: 100%;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /* IE 5-7 */
  filter: alpha(opacity=0);
  /* modern browsers */
  /*opacity: 0;*/
  margin:-400px 0 0 0;
}

.grid{
  background-color:black;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
  }

  

  .grid-item {
    width:20%;
    height: auto;
    background-color:black;
    border: 2px solid;
  }
  .grid-item img{
    display:block;
    width:100%;
  }
  
  .grid-item--half { width: 10%;}
  .grid-item--width2 { width: 40%;}
  .grid-item--width3 { width: 60%;}

  .modal.active .modal-overlay, modal:target .modal-overlay{
    background-color:black;
    animation: fadein 3s ease;
    opacity:0.82;
  }

  @keyframes fadein {
    0%    { opacity: 0.0; }
    100%  { opacity: 0.82; }
    }

    #search-criteria .btn.btn-primary {
      width:125px;
    }
  
    .image-quality .btn-group{ 
      width:100%;
    }
    
    .form-group.form-partial{
      display: none;
    }

    .form-group.form-full{
      margin-bottom:0;
    }
    .dropdown .menu .menu-item:hover{
      cursor: pointer;
      background-color:#97CBFF;
    }

    #load-images {
      margin:.4rem;
    }

    #grid-container{
      text-align: center;
    }
  
  @media only screen and (max-width : 560px){
    .form-group.form-partial{
      display: inline-flex;
      width:100%;
    }
    .form-group.form-partial .btn-group div{
      width:33%;
    }
    .form-group.form-partial .btn-group div .btn.btn-primary{
      width:100%;
    }
    .form-group.form-full{
      display: none;
    }

  }

  /* Smartphones*/
  @media only screen  and (max-width : 480px) {
    .grid-item {
      width:100%;
    }
  }

  .toast.toast-error{
    background-color: #f2dede;
    color: #a94442;
    border-color: #a94442;
  }
  .toast.toast-success{
    background-color: #D2F1D6;
    color: #397641;
    border-color: #397641;

  }
  .toast{
    background-color: rgb(196, 216, 236);
    color:rgba(0,44,89,.9);
    border-color:rgba(0,44,89,.9);
    font-weight: 600;
    border-width: .1rem;
    border-radius: .3rem;
    margin-bottom: .6rem;
  }

  .modal.active .modal-container{
    max-height: 90%;
    max-width:90%;
  }

  #display-modal .modal-header{
    padding:.5rem;
  }

  #display-modal .modal-header .h5{
    font-size:.8rem;
  }

  .cloneable-chip{
    display:none;
  }